<!-- Website infomation and the navigation -->
    <header class="jumbotron">
      <div class="row row-header">

        <div class="col-xs-4 col-md-5">
          <img src="images/wheat.png" height=68 width=120>
          <h1></h1>
        </div>
        <div class="col-xs-8 col-md-7">
          <h1></h1>
          <img src="images/logo.png">
          <p></p>
        </div>
      </div>

      <nav class="navbar navbar-light" role="navigation">
        <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" >
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li><a ui-sref="app">Home</a></li>
              <li><a ui-sref="app.asian">Asian</a></li>
              <li><a ui-sref="app.europe">Europe</a></li>
              <li><a ui-sref="app.america">America</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href=''><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <li><a href=''><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
