

<div class="main-container">
  <div class="row row-content" ng-controller="MenuController">
  <!-- recipes sample -->
    <div class="col-xs-12 col-md-4 col-md-offset-1"  ng-repeat="recipe in recipes | limitTo : 4">
        <div class="thumbnail" >
          <a ui-sref="app_id({id: recipe._id})">
            <img ng-src="{{recipe.image}}" alt="{{recipe.name}}" style="width:75%">
            <div class="caption">
              <p></p>
              <p style="color:#1c7b76">{{recipe.name}}</p>
            </div>
            <p>{{recipe.comment}}</p>
          </a>
        </div>
      </div>

  </div>
</div>
