
  <div class="container" ng-controller="RecipeDetailController">

    <div class="row row-content recipe-name">
      <div class="col-xs-12 col-md-7">
          <a href="#">
          <img  style="width:350px" ng-src={{recipe.image}} alt="{{dish.name}}">
          </a>
      </div>
      <div class="col-xs-12 col-md-5">
          <h2 class="">{{recipe.name}}</h2>
          <p>35 m   <span class="glyphicon glyphicon-time">
          </span>       6 servings<span class="glyphicon glyphicon-serving">
          </span></p>
          <span class="glyphicon glyphicon-star-"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
          <h4 style="padding: 5px">160 reviews</h4>
      </div>
    </div>

    <div class="row row-content recipe-detail">

        <div class="col-xs-6 col-md-6">
          <section class="">
            <h3>Ingredients</h3>
            <p>{{recipe.ingredients}}</p>
            <!-- <ul>
              <li>2 * 72g pkts Maggi</li>
              <li>2 tablespoons soy sauce</li>
              <li>5cm-piec ginger, peeled, cut into matchsticks</li>
              <li>2 spring onions, thinly sliced diagonally Lime wedges, to serve</li>
            </ul> -->
          </section>
        </div>
        <div class="col-xs-6 col-md-6">
          <section>
            <h3>Directions</h3>
            <p>{{recipe.directions}}</p>
            <!--<ul>
              <li>Step 1: Combine the two favour sachets.....</li>
              <li>Step 2: Add the noodles to the soup mixture. Simmer, uncovered, for  1 min.</li>
              <li>Step 3: Add the choy sum.....</li>
              <li>Step 4: Ladie the soup into serving bowls....</li>
              <li>Step 5:</li>
               <li>Step 6:</li>
            </ul> -->
          </section>
        </div>
    </div>
